{{define "_head"}}
<meta charset='utf-8'>

<!-- Optimizely -->
<script src="//cdn.optimizely.com/js/1966070764.js"></script>

<title>Invisible Llama</title>

<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>

<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui' />
<meta name="format-detection" content="telephone=no" />

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

<link rel="icon" type="image/x-icon" href="resources/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="resources/main.css"/>
<script src="/resources/main.js"></script>
{{end}}
