{{define "_lines"}}
<div id="board-invisiblellama">
	<div id="over-invisiblellama" class="text-white" onclick="lines.startGame();">Game is over</div>
	<div id="score-invisiblellama" class="text-white text-right"></div>
	<div id="grid-invisiblellama">
			{{ range $y, $row := .board}}
					{{ range $x, $cell := $row }}
						<div class="cell-invisiblellama {{if eq $y 0}} top-border {{end}} {{if eq $x 0}} left-border {{end}}">
							<img id="token-{{$cell}}" class=" empty" src="../resources/images/empty.png" draggable="false"/>
						</div>
					{{ end }}
			{{ end }}
	</div>
</div>
{{end}}
