<!DOCTYPE html>
<head lang='en'>
    {{template "_head" .}}
</head>

<body>
	<div class="container">
		<header>
			<h1>
				<button class="btn-outline-invisiblellama float-right" onclick="lines.startGame();">New Game</button>
				<a href="/" class="brand-invisiblellama"><img src="resources/images/il-logo-80.png" draggable="false"/></a>
			</h1>
		</header>

		<div>
		  <noscript>
		      <div class='text-muted'>
		          <h4 class='alert-heading'>Warning!</h4>
		          You don't have Javascript enabled. Please enable Javascript to use this site.
		      </div>
		  </noscript>
		</div>

		<div class="container">
			{{template "_lines" .}}
		</div>

		<footer>
			<div class="container">
				<a href="http://syrec.io" class="text-muted float-right" target="_blank">Contact</a>
				<div class="text-muted">
					&copy; 2008 - {{.year}} Invisible Llama
					<div class="tokens-invisiblellama">
						{{ range $id, $val := .tokens}}
							<img src="../resources/images/default/token{{$id}}.png" height=15 width=15 draggable="false"/>
						{{ end }}
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>

<script>
    $(function () {
      $('#container_script_enabled').show();

      // init
      // lines.initGame();
      lines.startGame();
    });
</script>
